<?xml version="1.0"?>
<configuration>
  <!--<appSettings >
    <add key="CopyRight" value ="(c) Copyright 2010 Mathbright Technology Inc."/>
		<add key="ConnectionString" value="data source=192.168.0.108;user id=sa;password=freeform;initial catalog=MBT;persist security info=False;network library=dbmssocn;" />
  </appSettings>-->
  <configSections>
  </configSections>
  <connectionStrings>
    <!--    <add name="ConnectionString" connectionString="Data Source=192.168.0.108;Initial Catalog=MBT;Persist Security Info=True;User ID=sa;Password=freeform"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=192.168.0.150;Initial Catalog=MBT;Persist Security Info=True;User ID=sa;Password=freeform"
  providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=192.168.0.12;Initial Catalog=MBT_Aging;Persist Security Info=True;User ID=sa;Password=dsc@123"
  providerName="System.Data.SqlClient" />
    <add name="MBT.My.MySettings.MBTConnectionString" connectionString="Data Source=ERP-SVR;Initial Catalog=MBT;Persist Security Info=True;User ID=sa;Password=freeform"
      providerName="System.Data.SqlClient" />
    <add name="MBT.My.MySettings.MBTConnectionString1" connectionString="Data Source=192.168.0.108;Initial Catalog=MBT;Persist Security Info=True;User ID=sa;Password=freeform"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
  </system.web>
</configuration>
